.page {
  background-image: url(../../img/layer-bottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  height: 100vh;
  width: 100%;

  /* width: 1px;
  opacity: 0;
  transition: all 1.5s ease; */
}

/* .page.show {
  width: 100%;

  opacity: 1;
} */
