.gallery_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: transparent;

  width: 1px;
  opacity: 0;
  transition: all 1.5s ease;
}

.gallery_container.show {
  width: 100%;
  opacity: 1;
}

.gallery {
  height: 43vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  cursor: pointer;
  white-space: pre-wrap;
  border: 2px solid lightblue;
  border-radius: 10px;
  box-shadow: 4px 4px 20px -6px #0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery_title {
  color: #fff;
  font-weight: 600;
  font-size: 42px;
  position: absolute;
  text-align: center;
  backdrop-filter: blur(1px);
  top: calc(50% - 20px);
  transition: all 2s ease;
}

section:hover .gallery_title {
  translate: 0 -160px;
  opacity: 0;
}

.gallery_description {
  color: #fff;
  backdrop-filter: blur(1px);
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  width: 100%;
  padding: 0 20px;
  bottom: 0;
  opacity: 0;
  transition: all 2s;
}

section:hover .gallery_description {
  translate: 0 calc(-25vh + 50%);
  opacity: 1;
}
